flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c25b4bea.e6a958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71a09c7.42614e4","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"a5b0e0d9.2fe19","type":"tab","label":"UL","disabled":false,"info":""},{"id":"84c54e5e.9b6cc8","type":"tab","label":"JSON","disabled":false,"info":""},{"id":"ed88c286.33965","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26dc6396.328cdc","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"29b29fc6.a3044","type":"tab","label":"Aleatório","disabled":false,"info":""},{"id":"5d07fca5.750694","type":"tab","label":"UL","disabled":false,"info":""},{"id":"a8e031b9.01f0f","type":"tab","label":"HTML","disabled":false,"info":""},{"id":"51416f49.fc6fa","type":"tab","label":"JSON","disabled":false,"info":""},{"id":"bf25328d.48fc4","type":"tab","label":"XML","disabled":false,"info":""},{"id":"1c6b716d.facf9f","type":"tab","label":"LoRa","disabled":false,"info":""},{"id":"8443c00e.4b07c","type":"tab","label":"Dado aleatório","disabled":false,"info":""},{"id":"c106f64e.44bdf8","type":"mqtt-broker","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"559190d8.c88118","type":"mqtt-broker","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"553e4f2a.d90218","type":"mqtt-broker","name":"mosquitto","broker":"177.104.61.126","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"927a8fe0.86ce9","type":"google-cloud-credentials","name":"site-renatobdo-9fe4ab8d98d5.json"},{"id":"833232db.28fdd","type":"google-cloud-credentials","name":"site-renatobdo-9fe4ab8d98d5.json"},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"bf90292e.f7ffb","type":"inject","z":"71a09c7.42614e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["ded5ff4f.c65df"]]},{"id":"7eca7a5b.fb2694","type":"http request","z":"71a09c7.42614e4","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":40,"wires":[["2740e706.e7231","837a2fe4.a16a8"]]},{"id":"2740e706.e7231","type":"json","z":"71a09c7.42614e4","name":"","property":"payload","action":"","pretty":false,"x":590,"y":100,"wires":[["4e7c0a0f.81e84c","f42113c4.aeedd"]]},{"id":"f42113c4.aeedd","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"4e7c0a0f.81e84c","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["fd6637dd.b7d5","dfdd00ff.2d9308"]]},{"id":"fd6637dd.b7d5","type":"debug","z":"71a09c7.42614e4","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":120,"wires":[]},{"id":"dfdd00ff.2d9308","type":"template","z":"71a09c7.42614e4","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":930,"y":180,"wires":[["e02cbf9f.92db9","6d0fadf9.e9085c"]]},{"id":"e02cbf9f.92db9","type":"debug","z":"71a09c7.42614e4","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"b9b4dc62.7f149","type":"http request","z":"71a09c7.42614e4","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":160,"wires":[["4720d215.ea51cc"]]},{"id":"837a2fe4.a16a8","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"62c9026e.bfa50c","type":"debug","z":"71a09c7.42614e4","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"4720d215.ea51cc","type":"xml","z":"71a09c7.42614e4","name":"","property":"payload","attr":"","chr":"","x":410,"y":300,"wires":[["62c9026e.bfa50c","191d904a.6ade98","345a926b.631ca6"]]},{"id":"6a57073a.1ee968","type":"template","z":"71a09c7.42614e4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":870,"y":300,"wires":[["47f9103b.5a464","8ec04024.2ad7"]]},{"id":"191d904a.6ade98","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["6a57073a.1ee968"]]},{"id":"47f9103b.5a464","type":"debug","z":"71a09c7.42614e4","name":"Payload XML customizado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":360,"wires":[]},{"id":"345a926b.631ca6","type":"debug","z":"71a09c7.42614e4","name":"Payload xml completo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"8ec04024.2ad7","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":260,"wires":[]},{"id":"6d0fadf9.e9085c","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1170,"y":160,"wires":[]},{"id":"37c7f17a.dc52fe","type":"http request","z":"71a09c7.42614e4","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":580,"wires":[["eb0a3c5a.946b5"]]},{"id":"eb0a3c5a.946b5","type":"json","z":"71a09c7.42614e4","name":"","property":"payload","action":"","pretty":false,"x":610,"y":580,"wires":[["cb4daa69.38e858"]]},{"id":"cb4daa69.38e858","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":580,"wires":[["881068aa.9d1a68"]]},{"id":"881068aa.9d1a68","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1000,"y":580,"wires":[["2da61512.41217a"]]},{"id":"2da61512.41217a","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1210,"y":580,"wires":[]},{"id":"da7a87e2.aea2e","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":610,"y":520,"wires":[]},{"id":"d259858a.6f98e","type":"http request","z":"71a09c7.42614e4","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":720,"wires":[["2a906a3.d4f0e16"]]},{"id":"78c5aea.db433d","type":"debug","z":"71a09c7.42614e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":960,"wires":[]},{"id":"2a906a3.d4f0e16","type":"html","z":"71a09c7.42614e4","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":590,"y":720,"wires":[["36c722f9.b44d9e"]]},{"id":"46a4df9.5487c2","type":"template","z":"71a09c7.42614e4","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":740,"y":940,"wires":[["78c5aea.db433d","b4b0e8e8.2d8d4"]]},{"id":"36c722f9.b44d9e","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["46a4df9.5487c2"]]},{"id":"b4b0e8e8.2d8d4","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":950,"y":880,"wires":[]},{"id":"e88c0dbe.2a1d1","type":"template","z":"71a09c7.42614e4","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{payload}}","output":"str","x":390,"y":440,"wires":[["e8b3a7cf.bf1be8","da7a87e2.aea2e"]]},{"id":"e8b3a7cf.bf1be8","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"b0475095.ce8fa","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":700,"wires":[]},{"id":"f1066a8.f370a98","type":"mqtt in","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":910,"y":700,"wires":[["b0475095.ce8fa"]]},{"id":"c7ee0f90.b4bf38","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1400,"y":980,"wires":[[]]},{"id":"2893a590.4ca9d2","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3|{\"t\":\"{{payload}}\"}","output":"str","x":1440,"y":900,"wires":[[]]},{"id":"8992bb46.6f734","type":"template","z":"71a09c7.42614e4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=1 key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":1030,"y":440,"wires":[[]]},{"id":"7e811280.867b9c","type":"inject","z":"71a09c7.42614e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":440,"wires":[["8992bb46.6f734"]]},{"id":"768f1fcc.c5118","type":"debug","z":"71a09c7.42614e4","name":"Payload XML customizado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":500,"wires":[]},{"id":"ad345f2f.0928f","type":"debug","z":"a5b0e0d9.2fe19","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"b3f13469.56c13","type":"mqtt out","z":"a5b0e0d9.2fe19","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":650,"y":360,"wires":[]},{"id":"d149e01d.01bd6","type":"template","z":"a5b0e0d9.2fe19","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":410,"y":440,"wires":[["ad345f2f.0928f","b3f13469.56c13"]]},{"id":"434d9478.0424e4","type":"debug","z":"a5b0e0d9.2fe19","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":280,"wires":[]},{"id":"80908ce6.a295a","type":"change","z":"a5b0e0d9.2fe19","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":340,"wires":[["434d9478.0424e4","d149e01d.01bd6"]]},{"id":"fb2dd336.3e3da","type":"json","z":"a5b0e0d9.2fe19","name":"","property":"payload","action":"","pretty":false,"x":150,"y":200,"wires":[["80908ce6.a295a","fbd725e4.8abdf8"]]},{"id":"fbd725e4.8abdf8","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]},{"id":"59c03e2e.b7643","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"61580e93.82f098","type":"http request","z":"a5b0e0d9.2fe19","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":80,"wires":[["fb2dd336.3e3da","59c03e2e.b7643"]]},{"id":"8dc8f1d0.cbb2f","type":"inject","z":"a5b0e0d9.2fe19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["61580e93.82f098"]]},{"id":"c84c1818.52bf28","type":"mqtt in","z":"a5b0e0d9.2fe19","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":150,"y":500,"wires":[["bf0b20c3.414e08"]]},{"id":"bf0b20c3.414e08","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":500,"wires":[]},{"id":"bbcd5b88.92b48","type":"http request","z":"84c54e5e.9b6cc8","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":120,"wires":[["2d0c17eb.94709","4f17c07f.21344"]]},{"id":"2d0c17eb.94709","type":"json","z":"84c54e5e.9b6cc8","name":"","property":"payload","action":"","pretty":false,"x":170,"y":180,"wires":[["32b5f66a.6bf27a"]]},{"id":"32b5f66a.6bf27a","type":"change","z":"84c54e5e.9b6cc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":280,"wires":[["fab6b8e3.c43138"]]},{"id":"fab6b8e3.c43138","type":"template","z":"84c54e5e.9b6cc8","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":240,"y":380,"wires":[["9d7a0672.6567b"]]},{"id":"9d7a0672.6567b","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":390,"y":440,"wires":[]},{"id":"313cc70a.57ad08","type":"mqtt in","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":450,"y":100,"wires":[["3b6ca2ea.0428d6"]]},{"id":"3b6ca2ea.0428d6","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":140,"wires":[]},{"id":"6e30d1d8.fac508","type":"inject","z":"84c54e5e.9b6cc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["bbcd5b88.92b48"]]},{"id":"ded5ff4f.c65df","type":"random","z":"71a09c7.42614e4","name":"","outputs":5,"scope":"msg","x":140,"y":220,"wires":[["7eca7a5b.fb2694"],["b9b4dc62.7f149"],["e88c0dbe.2a1d1"],["37c7f17a.dc52fe"],["d259858a.6f98e"]]},{"id":"661e94b3.6a9afc","type":"random","z":"71a09c7.42614e4","name":"","outputs":"2","scope":"msg","x":1260,"y":920,"wires":[["2893a590.4ca9d2"],["c7ee0f90.b4bf38"]]},{"id":"eeb78fa5.526c2","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":90,"y":60,"wires":[["dcd84c12.6eaa2"]]},{"id":"697cd20a.89363c","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":40,"wires":[["c9fcd89c.a590b8","abc13aa2.3dbc78"]]},{"id":"c9fcd89c.a590b8","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":590,"y":80,"wires":[["373a748.e48798c","58f5ca2c.c02e14"]]},{"id":"373a748.e48798c","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":140,"wires":[["dc35f22d.999b7","da572e0a.47d2b"]]},{"id":"dc35f22d.999b7","type":"debug","z":"26dc6396.328cdc","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":120,"wires":[]},{"id":"da572e0a.47d2b","type":"template","z":"26dc6396.328cdc","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":910,"y":180,"wires":[["41a44e90.4b7f","42cfbc7b.793514"]]},{"id":"41a44e90.4b7f","type":"debug","z":"26dc6396.328cdc","name":"Mensagem UL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":200,"wires":[]},{"id":"e2f63af2.2738f8","type":"http request","z":"26dc6396.328cdc","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":100,"wires":[["11f0152a.94f59b"]]},{"id":"67d51f89.a69fa","type":"debug","z":"26dc6396.328cdc","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"11f0152a.94f59b","type":"xml","z":"26dc6396.328cdc","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["67d51f89.a69fa","a1a49bb3.a8a4d8","a3c033db.6ad0f"]]},{"id":"69f19640.3f5d78","type":"template","z":"26dc6396.328cdc","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":910,"y":240,"wires":[["e8a3da42.04c3b8","97325bbc.d34b88"]]},{"id":"a1a49bb3.a8a4d8","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["69f19640.3f5d78"]]},{"id":"e8a3da42.04c3b8","type":"debug","z":"26dc6396.328cdc","name":"Mensagem XML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"97325bbc.d34b88","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":240,"wires":[]},{"id":"42cfbc7b.793514","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":140,"wires":[]},{"id":"dcd84c12.6eaa2","type":"random","z":"26dc6396.328cdc","name":"","outputs":5,"scope":"msg","x":140,"y":220,"wires":[["697cd20a.89363c"],["e2f63af2.2738f8"],["561a38c3.13e638"],["de9be081.3a23c"],["a1131429.8c0e38"]]},{"id":"de9be081.3a23c","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["1b546e33.1432f2"]]},{"id":"1b546e33.1432f2","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":570,"y":420,"wires":[["7c636973.dca6d8"]]},{"id":"7c636973.dca6d8","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["675eee01.6c569"]]},{"id":"675eee01.6c569","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":960,"y":380,"wires":[["e04635f7.1737c8","1a32a192.78e02e"]]},{"id":"e04635f7.1737c8","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":380,"wires":[]},{"id":"55c3eba6.6123d4","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":590,"y":360,"wires":[]},{"id":"a1131429.8c0e38","type":"http request","z":"26dc6396.328cdc","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["c595cc04.b703b"]]},{"id":"66b8f725.6a2cd8","type":"debug","z":"26dc6396.328cdc","name":"Mensagem HTML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":500,"wires":[]},{"id":"c595cc04.b703b","type":"html","z":"26dc6396.328cdc","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":570,"y":460,"wires":[["9a3e570c.b4f528"]]},{"id":"d98c0cf5.6940d","type":"template","z":"26dc6396.328cdc","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":940,"y":440,"wires":[["66b8f725.6a2cd8","3d21cefd.ea4822"]]},{"id":"9a3e570c.b4f528","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["d98c0cf5.6940d"]]},{"id":"3d21cefd.ea4822","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":440,"wires":[]},{"id":"d6bb82e3.71d5a","type":"template","z":"26dc6396.328cdc","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{payload}}","output":"str","x":410,"y":220,"wires":[["d9f7cc65.01f33","55c3eba6.6123d4"]]},{"id":"d9f7cc65.01f33","type":"debug","z":"26dc6396.328cdc","name":"Mensagem aleatória","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":320,"wires":[]},{"id":"33e1487a.262188","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":500,"wires":[]},{"id":"d6ee2a7a.1ac898","type":"mqtt in","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":1410,"y":500,"wires":[["33e1487a.262188"]]},{"id":"4e60a357.91071c","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1400,"y":980,"wires":[[]]},{"id":"295a6764.7fe9c8","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3|{\"t\":\"{{payload}}\"}","output":"str","x":1440,"y":900,"wires":[[]]},{"id":"a85fe5ee.630468","type":"random","z":"26dc6396.328cdc","name":"","outputs":"2","scope":"msg","x":1260,"y":920,"wires":[["295a6764.7fe9c8"],["4e60a357.91071c"]]},{"id":"8599fe2.3263","type":"template","z":"26dc6396.328cdc","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=1 key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":1550,"y":340,"wires":[[]]},{"id":"a2fff606.50b818","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1380,"y":340,"wires":[["8599fe2.3263"]]},{"id":"47f0a7db.6545d8","type":"debug","z":"26dc6396.328cdc","name":"Payload XML customizado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":440,"wires":[]},{"id":"bd5e62b0.e5259","type":"debug","z":"5d07fca5.750694","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"c6082a79.871ca8","type":"mqtt out","z":"5d07fca5.750694","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":830,"y":240,"wires":[]},{"id":"d6e5f75b.901e18","type":"template","z":"5d07fca5.750694","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":590,"y":240,"wires":[["bd5e62b0.e5259","c6082a79.871ca8"]]},{"id":"cb6663b7.4c074","type":"change","z":"5d07fca5.750694","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["d6e5f75b.901e18","fc229f25.494a"]]},{"id":"aaf0256f.3c8eb8","type":"json","z":"5d07fca5.750694","name":"","property":"payload","action":"","pretty":false,"x":150,"y":180,"wires":[["cb6663b7.4c074","d8e7f8be.97cfb8"]]},{"id":"f655f52f.90b028","type":"http request","z":"5d07fca5.750694","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":80,"wires":[["7bfd7fb6.22368","aaf0256f.3c8eb8"]]},{"id":"eb23376f.226f48","type":"inject","z":"5d07fca5.750694","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["f655f52f.90b028"]]},{"id":"4e8d034.37510fc","type":"mqtt in","z":"5d07fca5.750694","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":490,"y":380,"wires":[["716e313d.d9d4d"]]},{"id":"716e313d.d9d4d","type":"debug","z":"5d07fca5.750694","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"1d1954d2.2204ab","type":"http request","z":"51416f49.fc6fa","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":120,"wires":[["98ae23ea.1a325","f9f18e15.901cc"]]},{"id":"98ae23ea.1a325","type":"json","z":"51416f49.fc6fa","name":"","property":"payload","action":"","pretty":false,"x":170,"y":180,"wires":[["628b7fcf.16089","883d0456.c768b8"]]},{"id":"628b7fcf.16089","type":"change","z":"51416f49.fc6fa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["360fbf99.1f2da","31e854c3.33186c"]]},{"id":"360fbf99.1f2da","type":"template","z":"51416f49.fc6fa","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":400,"y":260,"wires":[["c5f1cf23.2458a"]]},{"id":"c5f1cf23.2458a","type":"mqtt out","z":"51416f49.fc6fa","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":590,"y":260,"wires":[]},{"id":"e40a9630.053418","type":"mqtt in","z":"51416f49.fc6fa","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":230,"y":320,"wires":[["a37e1305.67378"]]},{"id":"a37e1305.67378","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"ed394f54.ae9a8","type":"inject","z":"51416f49.fc6fa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["1d1954d2.2204ab"]]},{"id":"a3c033db.6ad0f","type":"debug","z":"26dc6396.328cdc","name":"Payload xml completo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"58f5ca2c.c02e14","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"abc13aa2.3dbc78","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"f9f18e15.901cc","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"c91c7136.90bcd","type":"debug","z":"bf25328d.48fc4","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"bab79b14.fa4148","type":"change","z":"bf25328d.48fc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["b8f93ca5.9295","93db80eb.a6044"]]},{"id":"70fc8607.3daf28","type":"xml","z":"bf25328d.48fc4","name":"","property":"payload","attr":"","chr":"","x":230,"y":180,"wires":[["c91c7136.90bcd","bab79b14.fa4148","b878d499.bebc68"]]},{"id":"1aabcba2.a6bb44","type":"http request","z":"bf25328d.48fc4","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":40,"wires":[["70fc8607.3daf28","d7af48dd.1cda08"]]},{"id":"f0f74535.4f8428","type":"inject","z":"bf25328d.48fc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["1aabcba2.a6bb44"]]},{"id":"b8f93ca5.9295","type":"template","z":"bf25328d.48fc4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":730,"y":180,"wires":[["33e26ef8.a48422","c7215a98.ad7938"]]},{"id":"33e26ef8.a48422","type":"debug","z":"bf25328d.48fc4","name":"Payload XML customizado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":220,"wires":[]},{"id":"c7215a98.ad7938","type":"mqtt out","z":"bf25328d.48fc4","name":"","topic":"iotamanager","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":950,"y":140,"wires":[]},{"id":"b878d499.bebc68","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"79175c0d.24c3b4","type":"mqtt out","z":"29b29fc6.a3044","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":550,"y":240,"wires":[]},{"id":"197b83.ed0df47d","type":"template","z":"29b29fc6.a3044","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{payload}}","output":"str","x":330,"y":200,"wires":[["970ab3ca.a367e","79175c0d.24c3b4"]]},{"id":"720ec816.8f9768","type":"inject","z":"29b29fc6.a3044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["197b83.ed0df47d","690f10fd.3df95"]]},{"id":"970ab3ca.a367e","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"3094abab.f0b0f4","type":"inject","z":"a8e031b9.01f0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":80,"y":80,"wires":[["43fe6dc9.7c4e64"]]},{"id":"43fe6dc9.7c4e64","type":"http request","z":"a8e031b9.01f0f","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["ddfbc75d.447568","d15f7b2a.85c288"]]},{"id":"ddfbc75d.447568","type":"html","z":"a8e031b9.01f0f","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":210,"y":160,"wires":[["4eef2ba2.86acd4","317266e8.bc063a"]]},{"id":"4eef2ba2.86acd4","type":"change","z":"a8e031b9.01f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["75286fcd.046ce","262ef98c.e0f9b6"]]},{"id":"75286fcd.046ce","type":"template","z":"a8e031b9.01f0f","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":580,"y":160,"wires":[["5d10aa37.f394c4","3390b411.7c4a4c"]]},{"id":"3390b411.7c4a4c","type":"mqtt out","z":"a8e031b9.01f0f","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":790,"y":120,"wires":[]},{"id":"5d10aa37.f394c4","type":"debug","z":"a8e031b9.01f0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"fc229f25.494a","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"7bfd7fb6.22368","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"d8e7f8be.97cfb8","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":260,"wires":[]},{"id":"883d0456.c768b8","type":"debug","z":"51416f49.fc6fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"31e854c3.33186c","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"d7af48dd.1cda08","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"93db80eb.a6044","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"d15f7b2a.85c288","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":60,"wires":[]},{"id":"317266e8.bc063a","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":240,"wires":[]},{"id":"262ef98c.e0f9b6","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]},{"id":"690f10fd.3df95","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":280,"wires":[]},{"id":"4f17c07f.21344","type":"json","z":"84c54e5e.9b6cc8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["f3e01b24.cd2958"]]},{"id":"f3e01b24.cd2958","type":"change","z":"84c54e5e.9b6cc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["6fa163a7.3e2c0c","33bab304.0f923c"]]},{"id":"6fa163a7.3e2c0c","type":"template","z":"84c54e5e.9b6cc8","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":740,"y":240,"wires":[["db7c968e.9fc3c8"]]},{"id":"db7c968e.9fc3c8","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":950,"y":280,"wires":[]},{"id":"dba2c5f.4170638","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"J3R8MTV8bXw2Ni4zMDAwMDN8dHN8MTYxNTk5Mjc2ODc3Myc=\\\"}","output":"str","x":740,"y":360,"wires":[["9fdb577b.b442a8","2fcb6518.cc053a","a340addd.7bf93"]]},{"id":"2fcb6518.cc053a","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"testes","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":870,"y":560,"wires":[]},{"id":"9fdb577b.b442a8","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"d8adc6e2.a03278","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":400,"wires":[]},{"id":"33bab304.0f923c","type":"base64","z":"84c54e5e.9b6cc8","name":"","action":"str","property":"payload","x":540,"y":380,"wires":[["dba2c5f.4170638","4981a792.86f848"]]},{"id":"a340addd.7bf93","type":"split","z":"84c54e5e.9b6cc8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":380,"wires":[["d8adc6e2.a03278"]]},{"id":"4981a792.86f848","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\"{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"{{payload}}\\\"}","output":"str","x":600,"y":520,"wires":[["5f28367a.df7918"]]},{"id":"5f28367a.df7918","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]},{"id":"32d13fe2.e71a1","type":"mqtt in","z":"84c54e5e.9b6cc8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","nl":false,"rap":true,"rh":0,"x":490,"y":700,"wires":[["1bca9809.020a08"]]},{"id":"5492f55e.e952ac","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":120,"wires":[]},{"id":"1bca9809.020a08","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa tratado2","field":"payload","fieldType":"global","format":"handlebars","syntax":"mustache","template":"6{{payload}}","output":"str","x":700,"y":740,"wires":[["3105d0f8.0ca0a"]]},{"id":"3105d0f8.0ca0a","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":900,"wires":[]},{"id":"2fd2450d.c2e06a","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":530,"y":520,"wires":[["31521f9.d52cfe"]]},{"id":"d0ab3a68.429ce8","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":780,"y":620,"wires":[["55b861ff.a30e7"]]},{"id":"31521f9.d52cfe","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["a0fe6590.d3b6d8","12677046.c8b01"]]},{"id":"8f5940ba.3f0ca","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\"applicationID\":\"5\",\"applicationName\":\"mestrado_simulacao\",\"deviceName\":\"DHT11\",\"devEUI\":\"221597e4529df57d\",\"rxInfo\":[{\"gatewayID\":\"000000ffff001000\",\"name\":\"ExpGW\",\"rssi\":-57,\"loRaSNR\":7,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}}],\"txInfo\":{\"frequency\":915000000,\"dr\":5},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"dHN8MTYxOTY2NzAxNjc1MA==\"}","output":"str","x":960,"y":780,"wires":[["1cd595c.f1fb56a"]]},{"id":"4ef68d86.265ef4","type":"base64","z":"26dc6396.328cdc","name":"","action":"str","property":"payload","x":740,"y":800,"wires":[["48411e5e.0eb9e","dae8c4c4.372948","a41a52cb.b0f1f"]]},{"id":"55b861ff.a30e7","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":990,"y":620,"wires":[]},{"id":"1cd595c.f1fb56a","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"application/5/device/221597e4529df57d/rx","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":1220,"y":840,"wires":[]},{"id":"48411e5e.0eb9e","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"5\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"221597e4529df57d\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":920,"y":900,"wires":[["fad06d66.bd4cf","1cd595c.f1fb56a"]]},{"id":"fad06d66.bd4cf","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1020,"wires":[]},{"id":"42674b79.56a074","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":520,"wires":[["2fd2450d.c2e06a"]]},{"id":"a41a52cb.b0f1f","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa SENSE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"applicationID\":\"5\",\"applicationName\":\"mestrado_simulacao\",\"deviceName\":\"DHT11\",\"devEUI\":\"221597e4529df57d\",\"rxInfo\":[{\"gatewayID\":\"000000ffff001000\",\"name\":\"ExpGW\",\"rssi\":-57,\"loRaSNR\":7,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}}],\"txInfo\":{\"frequency\":915000000,\"dr\":5},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":780,"y":1020,"wires":[["76b520b7.0543","1cd595c.f1fb56a"]]},{"id":"76b520b7.0543","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1140,"wires":[]},{"id":"2b040e36.078632","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":500,"wires":[["42674b79.56a074"]]},{"id":"8f20f979.214008","type":"inject","z":"1c6b716d.facf9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["3c41e6df.05b08a"]]},{"id":"3c41e6df.05b08a","type":"http request","z":"1c6b716d.facf9f","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":160,"wires":[["27e37529.dc82ea"]]},{"id":"27e37529.dc82ea","type":"json","z":"1c6b716d.facf9f","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["a71df179.d7c0b"]]},{"id":"a71df179.d7c0b","type":"change","z":"1c6b716d.facf9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["9c629fe5.5192e","dbc7a9d4.94c848"]]},{"id":"d691729a.f2a84","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"J3R8MTV8bXw2Ni4zMDAwMDN8dHN8MTYxNTk5Mjc2ODc3Myc=\\\"}","output":"str","x":740,"y":400,"wires":[["c7e4d596.4689f8","8fb64706.317f58"]]},{"id":"dbc7a9d4.94c848","type":"base64","z":"1c6b716d.facf9f","name":"","action":"str","property":"payload","x":600,"y":300,"wires":[["9c629fe5.5192e","8cbf5eb1.ae97d"]]},{"id":"8fb64706.317f58","type":"split","z":"1c6b716d.facf9f","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":420,"wires":[["8355a3ae.c5792"]]},{"id":"8355a3ae.c5792","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":440,"wires":[]},{"id":"c7e4d596.4689f8","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"13c64aaf.da77a5","type":"mqtt out","z":"1c6b716d.facf9f","name":"","topic":"testes","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":870,"y":600,"wires":[]},{"id":"8cbf5eb1.ae97d","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"1\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"0102030405060708\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":600,"y":560,"wires":[["f7b2520.f5821b","13c64aaf.da77a5"]]},{"id":"f7b2520.f5821b","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":720,"wires":[]},{"id":"6830d7d8.81aa68","type":"mqtt in","z":"1c6b716d.facf9f","name":"","topic":"#","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","nl":false,"rap":true,"rh":0,"x":490,"y":740,"wires":[["3da05ab6.999796"]]},{"id":"3da05ab6.999796","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa tratado2","field":"payload","fieldType":"global","format":"handlebars","syntax":"mustache","template":"6{{payload}}","output":"str","x":700,"y":780,"wires":[["a18bf3e8.951ca"]]},{"id":"a18bf3e8.951ca","type":"debug","z":"1c6b716d.facf9f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":940,"wires":[]},{"id":"9c629fe5.5192e","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"a0fe6590.d3b6d8","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload.main.temp","pattern":"data, b8","x":530,"y":820,"wires":[["5345545d.17599c"]]},{"id":"5345545d.17599c","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"1\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"0102030405060708\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":500,"y":940,"wires":[["d5bb7bed.802f88"]]},{"id":"d5bb7bed.802f88","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1060,"wires":[]},{"id":"a31c1e9b.dc404","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload","pattern":"b8","x":330,"y":700,"wires":[["e4d8e1b8.2e905","41344eaa.6fd12"]]},{"id":"bdc5af37.dcc4","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mestre2021","payloadType":"str","x":150,"y":680,"wires":[["a31c1e9b.dc404"]]},{"id":"e4d8e1b8.2e905","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":660,"wires":[]},{"id":"b280e925.428a68","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload","pattern":"b8","x":190,"y":1000,"wires":[["618ad2b1.f4fc5c"]]},{"id":"618ad2b1.f4fc5c","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":1060,"wires":[]},{"id":"41344eaa.6fd12","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":920,"wires":[["b280e925.428a68"]]},{"id":"12677046.c8b01","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ts|{{payload}}","output":"str","x":740,"y":680,"wires":[["4ef68d86.265ef4","dae8c4c4.372948"]]},{"id":"dae8c4c4.372948","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":720,"wires":[]},{"id":"4b0fb541.232e9c","type":"inject","z":"29b29fc6.a3044","name":"payload","props":[{"p":"payload"},{"p":"mensagem","v":"123","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":110,"y":380,"wires":[["91b3921d.075f7"]]},{"id":"91b3921d.075f7","type":"function","z":"29b29fc6.a3044","name":"","func":"var payload = msg.payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\n\nmsg.payload = makeid(payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":440,"wires":[["6820a765.d1b9d8"]]},{"id":"6820a765.d1b9d8","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":500,"wires":[]},{"id":"7b475306.2cedfc","type":"function","z":"29b29fc6.a3044","name":"msg","func":"\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar payload = payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\nvar tamanho = payload.length;\nvar teste = makeid(tamanho);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nreturn teste;","libs":[],"x":470,"y":480,"wires":[["b5ca8fe9.6424a"]]},{"id":"8428132f.1bb5b","type":"inject","z":"29b29fc6.a3044","name":"teste valores aleatórios","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teste","payload":"01234567890123456789","payloadType":"str","x":360,"y":340,"wires":[["eb14314a.a4ead","7b475306.2cedfc"]]},{"id":"b5ca8fe9.6424a","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":540,"wires":[]},{"id":"b09b176e.db4db8","type":"function","z":"29b29fc6.a3044","name":"","func":"\nreturn mensagem;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar mensagem = msg;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\n\nmensagem = makeid(20);","finalize":"","libs":[],"x":540,"y":800,"wires":[[]]},{"id":"e76b3bc4.8dd848","type":"inject","z":"29b29fc6.a3044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teste","payload":"","payloadType":"date","x":400,"y":780,"wires":[[]]},{"id":"eb14314a.a4ead","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"561a38c3.13e638","type":"function","z":"26dc6396.328cdc","name":"","func":"var payload = msg.payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\n\nmsg.payload = makeid(payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["d6bb82e3.71d5a"]]},{"id":"1a32a192.78e02e","type":"debug","z":"26dc6396.328cdc","name":"Mensagem JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":340,"wires":[]}]

v17:
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c25b4bea.e6a958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71a09c7.42614e4","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"a5b0e0d9.2fe19","type":"tab","label":"UL","disabled":false,"info":""},{"id":"84c54e5e.9b6cc8","type":"tab","label":"JSON","disabled":false,"info":""},{"id":"ed88c286.33965","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26dc6396.328cdc","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"5d07fca5.750694","type":"tab","label":"UL","disabled":false,"info":""},{"id":"29b29fc6.a3044","type":"tab","label":"Aleatório","disabled":false,"info":""},{"id":"a8e031b9.01f0f","type":"tab","label":"HTML","disabled":false,"info":""},{"id":"51416f49.fc6fa","type":"tab","label":"JSON","disabled":false,"info":""},{"id":"bf25328d.48fc4","type":"tab","label":"XML","disabled":false,"info":""},{"id":"1c6b716d.facf9f","type":"tab","label":"LoRa","disabled":false,"info":""},{"id":"8443c00e.4b07c","type":"tab","label":"Dado aleatório","disabled":false,"info":""},{"id":"f0a88548.099cc8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"c106f64e.44bdf8","type":"mqtt-broker","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"559190d8.c88118","type":"mqtt-broker","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"553e4f2a.d90218","type":"mqtt-broker","name":"mosquitto","broker":"177.104.61.126","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"927a8fe0.86ce9","type":"google-cloud-credentials","name":"site-renatobdo-9fe4ab8d98d5.json"},{"id":"833232db.28fdd","type":"google-cloud-credentials","name":"site-renatobdo-9fe4ab8d98d5.json"},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"bf90292e.f7ffb","type":"inject","z":"71a09c7.42614e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["ded5ff4f.c65df"]]},{"id":"7eca7a5b.fb2694","type":"http request","z":"71a09c7.42614e4","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":40,"wires":[["2740e706.e7231","837a2fe4.a16a8"]]},{"id":"2740e706.e7231","type":"json","z":"71a09c7.42614e4","name":"","property":"payload","action":"","pretty":false,"x":590,"y":100,"wires":[["4e7c0a0f.81e84c","f42113c4.aeedd"]]},{"id":"f42113c4.aeedd","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"4e7c0a0f.81e84c","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["fd6637dd.b7d5","dfdd00ff.2d9308"]]},{"id":"fd6637dd.b7d5","type":"debug","z":"71a09c7.42614e4","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":120,"wires":[]},{"id":"dfdd00ff.2d9308","type":"template","z":"71a09c7.42614e4","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":930,"y":180,"wires":[["e02cbf9f.92db9","6d0fadf9.e9085c"]]},{"id":"e02cbf9f.92db9","type":"debug","z":"71a09c7.42614e4","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"b9b4dc62.7f149","type":"http request","z":"71a09c7.42614e4","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":160,"wires":[["4720d215.ea51cc"]]},{"id":"837a2fe4.a16a8","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"62c9026e.bfa50c","type":"debug","z":"71a09c7.42614e4","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"4720d215.ea51cc","type":"xml","z":"71a09c7.42614e4","name":"","property":"payload","attr":"","chr":"","x":410,"y":300,"wires":[["62c9026e.bfa50c","191d904a.6ade98","345a926b.631ca6"]]},{"id":"6a57073a.1ee968","type":"template","z":"71a09c7.42614e4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":870,"y":300,"wires":[["47f9103b.5a464","8ec04024.2ad7"]]},{"id":"191d904a.6ade98","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["6a57073a.1ee968"]]},{"id":"47f9103b.5a464","type":"debug","z":"71a09c7.42614e4","name":"Payload XML customizado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":360,"wires":[]},{"id":"345a926b.631ca6","type":"debug","z":"71a09c7.42614e4","name":"Payload xml completo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"8ec04024.2ad7","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":260,"wires":[]},{"id":"6d0fadf9.e9085c","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1170,"y":160,"wires":[]},{"id":"37c7f17a.dc52fe","type":"http request","z":"71a09c7.42614e4","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":580,"wires":[["eb0a3c5a.946b5"]]},{"id":"eb0a3c5a.946b5","type":"json","z":"71a09c7.42614e4","name":"","property":"payload","action":"","pretty":false,"x":610,"y":580,"wires":[["cb4daa69.38e858"]]},{"id":"cb4daa69.38e858","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":580,"wires":[["881068aa.9d1a68"]]},{"id":"881068aa.9d1a68","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1000,"y":580,"wires":[["2da61512.41217a"]]},{"id":"2da61512.41217a","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1210,"y":580,"wires":[]},{"id":"da7a87e2.aea2e","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":610,"y":520,"wires":[]},{"id":"d259858a.6f98e","type":"http request","z":"71a09c7.42614e4","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":720,"wires":[["2a906a3.d4f0e16"]]},{"id":"78c5aea.db433d","type":"debug","z":"71a09c7.42614e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":960,"wires":[]},{"id":"2a906a3.d4f0e16","type":"html","z":"71a09c7.42614e4","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":590,"y":720,"wires":[["36c722f9.b44d9e"]]},{"id":"46a4df9.5487c2","type":"template","z":"71a09c7.42614e4","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":740,"y":940,"wires":[["78c5aea.db433d","b4b0e8e8.2d8d4"]]},{"id":"36c722f9.b44d9e","type":"change","z":"71a09c7.42614e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["46a4df9.5487c2"]]},{"id":"b4b0e8e8.2d8d4","type":"mqtt out","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":950,"y":880,"wires":[]},{"id":"e88c0dbe.2a1d1","type":"template","z":"71a09c7.42614e4","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{payload}}","output":"str","x":390,"y":440,"wires":[["e8b3a7cf.bf1be8","da7a87e2.aea2e"]]},{"id":"e8b3a7cf.bf1be8","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"b0475095.ce8fa","type":"debug","z":"71a09c7.42614e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":700,"wires":[]},{"id":"f1066a8.f370a98","type":"mqtt in","z":"71a09c7.42614e4","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":910,"y":700,"wires":[["b0475095.ce8fa"]]},{"id":"c7ee0f90.b4bf38","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1400,"y":980,"wires":[[]]},{"id":"2893a590.4ca9d2","type":"template","z":"71a09c7.42614e4","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3|{\"t\":\"{{payload}}\"}","output":"str","x":1440,"y":900,"wires":[[]]},{"id":"8992bb46.6f734","type":"template","z":"71a09c7.42614e4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=1 key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":1030,"y":440,"wires":[[]]},{"id":"7e811280.867b9c","type":"inject","z":"71a09c7.42614e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":440,"wires":[["8992bb46.6f734"]]},{"id":"768f1fcc.c5118","type":"debug","z":"71a09c7.42614e4","name":"Payload XML customizado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":500,"wires":[]},{"id":"ad345f2f.0928f","type":"debug","z":"a5b0e0d9.2fe19","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"b3f13469.56c13","type":"mqtt out","z":"a5b0e0d9.2fe19","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":650,"y":360,"wires":[]},{"id":"d149e01d.01bd6","type":"template","z":"a5b0e0d9.2fe19","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":410,"y":440,"wires":[["ad345f2f.0928f","b3f13469.56c13"]]},{"id":"434d9478.0424e4","type":"debug","z":"a5b0e0d9.2fe19","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":280,"wires":[]},{"id":"80908ce6.a295a","type":"change","z":"a5b0e0d9.2fe19","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":340,"wires":[["434d9478.0424e4","d149e01d.01bd6"]]},{"id":"fb2dd336.3e3da","type":"json","z":"a5b0e0d9.2fe19","name":"","property":"payload","action":"","pretty":false,"x":150,"y":200,"wires":[["80908ce6.a295a","fbd725e4.8abdf8"]]},{"id":"fbd725e4.8abdf8","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]},{"id":"59c03e2e.b7643","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"61580e93.82f098","type":"http request","z":"a5b0e0d9.2fe19","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":80,"wires":[["fb2dd336.3e3da","59c03e2e.b7643"]]},{"id":"8dc8f1d0.cbb2f","type":"inject","z":"a5b0e0d9.2fe19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["61580e93.82f098"]]},{"id":"c84c1818.52bf28","type":"mqtt in","z":"a5b0e0d9.2fe19","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":150,"y":500,"wires":[["bf0b20c3.414e08"]]},{"id":"bf0b20c3.414e08","type":"debug","z":"a5b0e0d9.2fe19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":500,"wires":[]},{"id":"bbcd5b88.92b48","type":"http request","z":"84c54e5e.9b6cc8","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":120,"wires":[["2d0c17eb.94709","4f17c07f.21344"]]},{"id":"2d0c17eb.94709","type":"json","z":"84c54e5e.9b6cc8","name":"","property":"payload","action":"","pretty":false,"x":170,"y":180,"wires":[["32b5f66a.6bf27a"]]},{"id":"32b5f66a.6bf27a","type":"change","z":"84c54e5e.9b6cc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":280,"wires":[["fab6b8e3.c43138"]]},{"id":"fab6b8e3.c43138","type":"template","z":"84c54e5e.9b6cc8","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":240,"y":380,"wires":[["9d7a0672.6567b"]]},{"id":"9d7a0672.6567b","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":390,"y":440,"wires":[]},{"id":"313cc70a.57ad08","type":"mqtt in","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":450,"y":100,"wires":[["3b6ca2ea.0428d6"]]},{"id":"3b6ca2ea.0428d6","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":140,"wires":[]},{"id":"6e30d1d8.fac508","type":"inject","z":"84c54e5e.9b6cc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["bbcd5b88.92b48"]]},{"id":"ded5ff4f.c65df","type":"random","z":"71a09c7.42614e4","name":"","outputs":5,"scope":"msg","x":140,"y":220,"wires":[["7eca7a5b.fb2694"],["b9b4dc62.7f149"],["e88c0dbe.2a1d1"],["37c7f17a.dc52fe"],["d259858a.6f98e"]]},{"id":"661e94b3.6a9afc","type":"random","z":"71a09c7.42614e4","name":"","outputs":"2","scope":"msg","x":1260,"y":920,"wires":[["2893a590.4ca9d2"],["c7ee0f90.b4bf38"]]},{"id":"eeb78fa5.526c2","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":90,"y":60,"wires":[["dcd84c12.6eaa2"]]},{"id":"697cd20a.89363c","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":40,"wires":[["c9fcd89c.a590b8","abc13aa2.3dbc78"]]},{"id":"c9fcd89c.a590b8","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":590,"y":80,"wires":[["373a748.e48798c","58f5ca2c.c02e14"]]},{"id":"373a748.e48798c","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":140,"wires":[["dc35f22d.999b7","da572e0a.47d2b"]]},{"id":"dc35f22d.999b7","type":"debug","z":"26dc6396.328cdc","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":120,"wires":[]},{"id":"da572e0a.47d2b","type":"template","z":"26dc6396.328cdc","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":910,"y":180,"wires":[["41a44e90.4b7f","42cfbc7b.793514"]]},{"id":"41a44e90.4b7f","type":"debug","z":"26dc6396.328cdc","name":"Mensagem UL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":200,"wires":[]},{"id":"e2f63af2.2738f8","type":"http request","z":"26dc6396.328cdc","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":100,"wires":[["11f0152a.94f59b"]]},{"id":"67d51f89.a69fa","type":"debug","z":"26dc6396.328cdc","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"11f0152a.94f59b","type":"xml","z":"26dc6396.328cdc","name":"","property":"payload","attr":"","chr":"","x":450,"y":160,"wires":[["67d51f89.a69fa","a1a49bb3.a8a4d8","a3c033db.6ad0f"]]},{"id":"69f19640.3f5d78","type":"template","z":"26dc6396.328cdc","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":910,"y":240,"wires":[["e8a3da42.04c3b8","97325bbc.d34b88"]]},{"id":"a1a49bb3.a8a4d8","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["69f19640.3f5d78"]]},{"id":"e8a3da42.04c3b8","type":"debug","z":"26dc6396.328cdc","name":"Mensagem XML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"97325bbc.d34b88","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":240,"wires":[]},{"id":"42cfbc7b.793514","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":140,"wires":[]},{"id":"dcd84c12.6eaa2","type":"random","z":"26dc6396.328cdc","name":"","outputs":5,"scope":"msg","x":80,"y":180,"wires":[["697cd20a.89363c"],["e2f63af2.2738f8"],["561a38c3.13e638"],["de9be081.3a23c"],["a1131429.8c0e38"]]},{"id":"de9be081.3a23c","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["1b546e33.1432f2"]]},{"id":"1b546e33.1432f2","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":570,"y":420,"wires":[["7c636973.dca6d8"]]},{"id":"7c636973.dca6d8","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["675eee01.6c569"]]},{"id":"675eee01.6c569","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":960,"y":380,"wires":[["e04635f7.1737c8","1a32a192.78e02e"]]},{"id":"e04635f7.1737c8","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":380,"wires":[]},{"id":"55c3eba6.6123d4","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":590,"y":360,"wires":[]},{"id":"a1131429.8c0e38","type":"http request","z":"26dc6396.328cdc","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["c595cc04.b703b"]]},{"id":"66b8f725.6a2cd8","type":"debug","z":"26dc6396.328cdc","name":"Mensagem HTML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":500,"wires":[]},{"id":"c595cc04.b703b","type":"html","z":"26dc6396.328cdc","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":570,"y":460,"wires":[["9a3e570c.b4f528"]]},{"id":"d98c0cf5.6940d","type":"template","z":"26dc6396.328cdc","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":940,"y":440,"wires":[["66b8f725.6a2cd8","3d21cefd.ea4822"]]},{"id":"9a3e570c.b4f528","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["d98c0cf5.6940d"]]},{"id":"3d21cefd.ea4822","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":1130,"y":440,"wires":[]},{"id":"d6bb82e3.71d5a","type":"template","z":"26dc6396.328cdc","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{{payload}}}","output":"str","x":410,"y":320,"wires":[["d9f7cc65.01f33","55c3eba6.6123d4"]]},{"id":"d9f7cc65.01f33","type":"debug","z":"26dc6396.328cdc","name":"Mensagem aleatória","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":320,"wires":[]},{"id":"33e1487a.262188","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":500,"wires":[]},{"id":"d6ee2a7a.1ac898","type":"mqtt in","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":1410,"y":500,"wires":[["33e1487a.262188"]]},{"id":"4e60a357.91071c","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":1400,"y":980,"wires":[[]]},{"id":"295a6764.7fe9c8","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3|{\"t\":\"{{payload}}\"}","output":"str","x":1440,"y":900,"wires":[[]]},{"id":"a85fe5ee.630468","type":"random","z":"26dc6396.328cdc","name":"","outputs":"2","scope":"msg","x":1260,"y":920,"wires":[["295a6764.7fe9c8"],["4e60a357.91071c"]]},{"id":"8599fe2.3263","type":"template","z":"26dc6396.328cdc","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=1 key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":1550,"y":340,"wires":[[]]},{"id":"a2fff606.50b818","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1380,"y":340,"wires":[["8599fe2.3263"]]},{"id":"47f0a7db.6545d8","type":"debug","z":"26dc6396.328cdc","name":"Payload XML customizado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":440,"wires":[]},{"id":"bd5e62b0.e5259","type":"debug","z":"5d07fca5.750694","name":"broker 177_","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"c6082a79.871ca8","type":"mqtt out","z":"5d07fca5.750694","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":830,"y":240,"wires":[]},{"id":"d6e5f75b.901e18","type":"template","z":"5d07fca5.750694","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":590,"y":240,"wires":[["bd5e62b0.e5259","c6082a79.871ca8"]]},{"id":"cb6663b7.4c074","type":"change","z":"5d07fca5.750694","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["d6e5f75b.901e18","fc229f25.494a"]]},{"id":"aaf0256f.3c8eb8","type":"json","z":"5d07fca5.750694","name":"","property":"payload","action":"","pretty":false,"x":150,"y":180,"wires":[["cb6663b7.4c074","d8e7f8be.97cfb8"]]},{"id":"f655f52f.90b028","type":"http request","z":"5d07fca5.750694","name":"Temperatura UFABC-SBC","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.676992&lon=-46.563269&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":80,"wires":[["7bfd7fb6.22368","aaf0256f.3c8eb8"]]},{"id":"eb23376f.226f48","type":"inject","z":"5d07fca5.750694","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["f655f52f.90b028"]]},{"id":"4e8d034.37510fc","type":"mqtt in","z":"5d07fca5.750694","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":490,"y":380,"wires":[["716e313d.d9d4d"]]},{"id":"716e313d.d9d4d","type":"debug","z":"5d07fca5.750694","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"1d1954d2.2204ab","type":"http request","z":"51416f49.fc6fa","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":120,"wires":[["98ae23ea.1a325","f9f18e15.901cc"]]},{"id":"98ae23ea.1a325","type":"json","z":"51416f49.fc6fa","name":"","property":"payload","action":"","pretty":false,"x":170,"y":180,"wires":[["628b7fcf.16089","883d0456.c768b8"]]},{"id":"628b7fcf.16089","type":"change","z":"51416f49.fc6fa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["360fbf99.1f2da","31e854c3.33186c"]]},{"id":"360fbf99.1f2da","type":"template","z":"51416f49.fc6fa","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":400,"y":260,"wires":[["c5f1cf23.2458a"]]},{"id":"c5f1cf23.2458a","type":"mqtt out","z":"51416f49.fc6fa","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":590,"y":260,"wires":[]},{"id":"e40a9630.053418","type":"mqtt in","z":"51416f49.fc6fa","name":"","topic":"iotamanager","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","x":230,"y":320,"wires":[["a37e1305.67378"]]},{"id":"a37e1305.67378","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"ed394f54.ae9a8","type":"inject","z":"51416f49.fc6fa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["1d1954d2.2204ab"]]},{"id":"a3c033db.6ad0f","type":"debug","z":"26dc6396.328cdc","name":"Payload xml completo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"58f5ca2c.c02e14","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"abc13aa2.3dbc78","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"f9f18e15.901cc","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"c91c7136.90bcd","type":"debug","z":"bf25328d.48fc4","name":"temperaturaMinXML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.current.temperature[0].$.min","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"bab79b14.fa4148","type":"change","z":"bf25328d.48fc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current.temperature[0].$.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["b8f93ca5.9295","93db80eb.a6044"]]},{"id":"70fc8607.3daf28","type":"xml","z":"bf25328d.48fc4","name":"","property":"payload","attr":"","chr":"","x":230,"y":180,"wires":[["c91c7136.90bcd","bab79b14.fa4148","b878d499.bebc68"]]},{"id":"1aabcba2.a6bb44","type":"http request","z":"bf25328d.48fc4","name":"Temperatura USP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.560420&lon=-46.731370&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=xml","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":40,"wires":[["70fc8607.3daf28","d7af48dd.1cda08"]]},{"id":"f0f74535.4f8428","type":"inject","z":"bf25328d.48fc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["1aabcba2.a6bb44"]]},{"id":"b8f93ca5.9295","type":"template","z":"bf25328d.48fc4","name":"Payload em XML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1<measure device=\"dht22\" key=\"4jggokgpepnvsb2uv4s40d59ov\"><t value=\"{{payload}}\" />","output":"str","x":730,"y":180,"wires":[["33e26ef8.a48422","c7215a98.ad7938"]]},{"id":"33e26ef8.a48422","type":"debug","z":"bf25328d.48fc4","name":"Payload XML customizado","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":220,"wires":[]},{"id":"c7215a98.ad7938","type":"mqtt out","z":"bf25328d.48fc4","name":"","topic":"iotamanager","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":950,"y":140,"wires":[]},{"id":"b878d499.bebc68","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"79175c0d.24c3b4","type":"mqtt out","z":"29b29fc6.a3044","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":550,"y":240,"wires":[]},{"id":"197b83.ed0df47d","type":"template","z":"29b29fc6.a3044","name":"Payload aleatório","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"5{{payload}}","output":"str","x":330,"y":200,"wires":[["970ab3ca.a367e","79175c0d.24c3b4"]]},{"id":"720ec816.8f9768","type":"inject","z":"29b29fc6.a3044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["197b83.ed0df47d","690f10fd.3df95"]]},{"id":"970ab3ca.a367e","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"3094abab.f0b0f4","type":"inject","z":"a8e031b9.01f0f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":80,"y":80,"wires":[["43fe6dc9.7c4e64"]]},{"id":"43fe6dc9.7c4e64","type":"http request","z":"a8e031b9.01f0f","name":"Temperatura SBC-centro","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric&mode=html","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["ddfbc75d.447568","d15f7b2a.85c288"]]},{"id":"ddfbc75d.447568","type":"html","z":"a8e031b9.01f0f","name":"","property":"payload","outproperty":"payload","tag":"div","ret":"text","as":"single","x":210,"y":160,"wires":[["4eef2ba2.86acd4","317266e8.bc063a"]]},{"id":"4eef2ba2.86acd4","type":"change","z":"a8e031b9.01f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["75286fcd.046ce","262ef98c.e0f9b6"]]},{"id":"75286fcd.046ce","type":"template","z":"a8e031b9.01f0f","name":"payload em html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"2<!DOCTYPE html><div title=\"Current Temperature\">{{payload}}</div>","output":"str","x":580,"y":160,"wires":[["5d10aa37.f394c4","3390b411.7c4a4c"]]},{"id":"3390b411.7c4a4c","type":"mqtt out","z":"a8e031b9.01f0f","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":790,"y":120,"wires":[]},{"id":"5d10aa37.f394c4","type":"debug","z":"a8e031b9.01f0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"fc229f25.494a","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"7bfd7fb6.22368","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"d8e7f8be.97cfb8","type":"debug","z":"5d07fca5.750694","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":260,"wires":[]},{"id":"883d0456.c768b8","type":"debug","z":"51416f49.fc6fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"31e854c3.33186c","type":"debug","z":"51416f49.fc6fa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"d7af48dd.1cda08","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"93db80eb.a6044","type":"debug","z":"bf25328d.48fc4","name":"Payload xml completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"d15f7b2a.85c288","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":60,"wires":[]},{"id":"317266e8.bc063a","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":240,"wires":[]},{"id":"262ef98c.e0f9b6","type":"debug","z":"a8e031b9.01f0f","name":"payload da mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]},{"id":"690f10fd.3df95","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":280,"wires":[]},{"id":"4f17c07f.21344","type":"json","z":"84c54e5e.9b6cc8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":200,"wires":[["f3e01b24.cd2958"]]},{"id":"f3e01b24.cd2958","type":"change","z":"84c54e5e.9b6cc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["6fa163a7.3e2c0c","33bab304.0f923c"]]},{"id":"6fa163a7.3e2c0c","type":"template","z":"84c54e5e.9b6cc8","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":740,"y":240,"wires":[["db7c968e.9fc3c8"]]},{"id":"db7c968e.9fc3c8","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":950,"y":280,"wires":[]},{"id":"dba2c5f.4170638","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"J3R8MTV8bXw2Ni4zMDAwMDN8dHN8MTYxNTk5Mjc2ODc3Myc=\\\"}","output":"str","x":740,"y":360,"wires":[["9fdb577b.b442a8","2fcb6518.cc053a","a340addd.7bf93"]]},{"id":"2fcb6518.cc053a","type":"mqtt out","z":"84c54e5e.9b6cc8","name":"","topic":"testes","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":870,"y":560,"wires":[]},{"id":"9fdb577b.b442a8","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"d8adc6e2.a03278","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":400,"wires":[]},{"id":"33bab304.0f923c","type":"base64","z":"84c54e5e.9b6cc8","name":"","action":"str","property":"payload","x":540,"y":380,"wires":[["dba2c5f.4170638","4981a792.86f848"]]},{"id":"a340addd.7bf93","type":"split","z":"84c54e5e.9b6cc8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":380,"wires":[["d8adc6e2.a03278"]]},{"id":"4981a792.86f848","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\"{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"{{payload}}\\\"}","output":"str","x":600,"y":520,"wires":[["5f28367a.df7918"]]},{"id":"5f28367a.df7918","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":680,"wires":[]},{"id":"32d13fe2.e71a1","type":"mqtt in","z":"84c54e5e.9b6cc8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","nl":false,"rap":true,"rh":0,"x":490,"y":700,"wires":[["1bca9809.020a08"]]},{"id":"5492f55e.e952ac","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":120,"wires":[]},{"id":"1bca9809.020a08","type":"template","z":"84c54e5e.9b6cc8","name":"Payload LoRa tratado2","field":"payload","fieldType":"global","format":"handlebars","syntax":"mustache","template":"6{{payload}}","output":"str","x":700,"y":740,"wires":[["3105d0f8.0ca0a"]]},{"id":"3105d0f8.0ca0a","type":"debug","z":"84c54e5e.9b6cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":900,"wires":[]},{"id":"2fd2450d.c2e06a","type":"json","z":"26dc6396.328cdc","name":"","property":"payload","action":"","pretty":false,"x":530,"y":520,"wires":[["31521f9.d52cfe"]]},{"id":"d0ab3a68.429ce8","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"3{\"t\":\"{{payload}}\"}","output":"str","x":780,"y":620,"wires":[["55b861ff.a30e7"]]},{"id":"31521f9.d52cfe","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["a0fe6590.d3b6d8","12677046.c8b01"]]},{"id":"8f5940ba.3f0ca","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\"applicationID\":\"5\",\"applicationName\":\"mestrado_simulacao\",\"deviceName\":\"DHT11\",\"devEUI\":\"221597e4529df57d\",\"rxInfo\":[{\"gatewayID\":\"000000ffff001000\",\"name\":\"ExpGW\",\"rssi\":-57,\"loRaSNR\":7,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}}],\"txInfo\":{\"frequency\":915000000,\"dr\":5},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"dHN8MTYxOTY2NzAxNjc1MA==\"}","output":"str","x":960,"y":780,"wires":[["1cd595c.f1fb56a"]]},{"id":"4ef68d86.265ef4","type":"base64","z":"26dc6396.328cdc","name":"","action":"str","property":"payload","x":740,"y":800,"wires":[["48411e5e.0eb9e","dae8c4c4.372948","a41a52cb.b0f1f"]]},{"id":"55b861ff.a30e7","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":990,"y":620,"wires":[]},{"id":"1cd595c.f1fb56a","type":"mqtt out","z":"26dc6396.328cdc","name":"","topic":"application/5/device/221597e4529df57d/rx","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":1220,"y":840,"wires":[]},{"id":"48411e5e.0eb9e","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"5\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"221597e4529df57d\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":920,"y":900,"wires":[["fad06d66.bd4cf","1cd595c.f1fb56a"]]},{"id":"fad06d66.bd4cf","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1020,"wires":[]},{"id":"42674b79.56a074","type":"http request","z":"26dc6396.328cdc","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":520,"wires":[["2fd2450d.c2e06a"]]},{"id":"a41a52cb.b0f1f","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa SENSE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"applicationID\":\"5\",\"applicationName\":\"mestrado_simulacao\",\"deviceName\":\"DHT11\",\"devEUI\":\"221597e4529df57d\",\"rxInfo\":[{\"gatewayID\":\"000000ffff001000\",\"name\":\"ExpGW\",\"rssi\":-57,\"loRaSNR\":7,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}}],\"txInfo\":{\"frequency\":915000000,\"dr\":5},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":780,"y":1020,"wires":[["76b520b7.0543","1cd595c.f1fb56a"]]},{"id":"76b520b7.0543","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1140,"wires":[]},{"id":"2b040e36.078632","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":500,"wires":[["42674b79.56a074"]]},{"id":"8f20f979.214008","type":"inject","z":"1c6b716d.facf9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["3c41e6df.05b08a"]]},{"id":"3c41e6df.05b08a","type":"http request","z":"1c6b716d.facf9f","name":"Temperatura UFABC-SA","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.646310&lon=-46.527720&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":160,"wires":[["27e37529.dc82ea"]]},{"id":"27e37529.dc82ea","type":"json","z":"1c6b716d.facf9f","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["a71df179.d7c0b"]]},{"id":"a71df179.d7c0b","type":"change","z":"1c6b716d.facf9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["9c629fe5.5192e","dbc7a9d4.94c848"]]},{"id":"d691729a.f2a84","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6{\\\"applicationID\\\":\\\"1\\\",\\\"applicationName\\\":\\\"application\\\",\\\"deviceName\\\":\\\"device\\\",\\\"devEUI\\\":\\\"0102030405060708\\\",\\\"txInfo\\\":{\\\"frequency\\\":868300000,\\\"dr\\\":1},\\\"adr\\\":false,\\\"fCnt\\\":0,\\\"fPort\\\":1,\\\"data\\\":\\\"J3R8MTV8bXw2Ni4zMDAwMDN8dHN8MTYxNTk5Mjc2ODc3Myc=\\\"}","output":"str","x":740,"y":400,"wires":[["c7e4d596.4689f8","8fb64706.317f58"]]},{"id":"dbc7a9d4.94c848","type":"base64","z":"1c6b716d.facf9f","name":"","action":"str","property":"payload","x":600,"y":300,"wires":[["9c629fe5.5192e","8cbf5eb1.ae97d"]]},{"id":"8fb64706.317f58","type":"split","z":"1c6b716d.facf9f","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":420,"wires":[["8355a3ae.c5792"]]},{"id":"8355a3ae.c5792","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":440,"wires":[]},{"id":"c7e4d596.4689f8","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"13c64aaf.da77a5","type":"mqtt out","z":"1c6b716d.facf9f","name":"","topic":"testes","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"553e4f2a.d90218","x":870,"y":600,"wires":[]},{"id":"8cbf5eb1.ae97d","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"1\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"0102030405060708\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":600,"y":560,"wires":[["f7b2520.f5821b","13c64aaf.da77a5"]]},{"id":"f7b2520.f5821b","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":720,"wires":[]},{"id":"6830d7d8.81aa68","type":"mqtt in","z":"1c6b716d.facf9f","name":"","topic":"#","qos":"2","datatype":"auto","broker":"553e4f2a.d90218","nl":false,"rap":true,"rh":0,"x":490,"y":740,"wires":[["3da05ab6.999796"]]},{"id":"3da05ab6.999796","type":"template","z":"1c6b716d.facf9f","name":"Payload LoRa tratado2","field":"payload","fieldType":"global","format":"handlebars","syntax":"mustache","template":"6{{payload}}","output":"str","x":700,"y":780,"wires":[["a18bf3e8.951ca"]]},{"id":"a18bf3e8.951ca","type":"debug","z":"1c6b716d.facf9f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":940,"wires":[]},{"id":"9c629fe5.5192e","type":"debug","z":"1c6b716d.facf9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"a0fe6590.d3b6d8","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload.main.temp","pattern":"data, b8","x":530,"y":820,"wires":[["5345545d.17599c"]]},{"id":"5345545d.17599c","type":"template","z":"26dc6396.328cdc","name":"Payload LoRa tratado","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"6{\"applicationID\":\"1\",\"applicationName\":\"application\",\"deviceName\":\"device\",\"devEUI\":\"0102030405060708\",\"txInfo\":{\"frequency\":868300000,\"dr\":1},\"adr\":false,\"fCnt\":0,\"fPort\":1,\"data\":\"{{{payload}}}\"}","output":"str","x":500,"y":940,"wires":[["d5bb7bed.802f88"]]},{"id":"d5bb7bed.802f88","type":"debug","z":"26dc6396.328cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1060,"wires":[]},{"id":"a31c1e9b.dc404","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload","pattern":"b8","x":330,"y":700,"wires":[["e4d8e1b8.2e905","41344eaa.6fd12"]]},{"id":"bdc5af37.dcc4","type":"inject","z":"26dc6396.328cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mestre2021","payloadType":"str","x":150,"y":680,"wires":[["a31c1e9b.dc404"]]},{"id":"e4d8e1b8.2e905","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":660,"wires":[]},{"id":"b280e925.428a68","type":"binary","z":"26dc6396.328cdc","name":"","property":"payload","pattern":"b8","x":190,"y":1000,"wires":[["618ad2b1.f4fc5c"]]},{"id":"618ad2b1.f4fc5c","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":1060,"wires":[]},{"id":"41344eaa.6fd12","type":"change","z":"26dc6396.328cdc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":920,"wires":[["b280e925.428a68"]]},{"id":"12677046.c8b01","type":"template","z":"26dc6396.328cdc","name":"payload em json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ts|{{payload}}","output":"str","x":740,"y":680,"wires":[["4ef68d86.265ef4","dae8c4c4.372948"]]},{"id":"dae8c4c4.372948","type":"debug","z":"26dc6396.328cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":720,"wires":[]},{"id":"4b0fb541.232e9c","type":"inject","z":"29b29fc6.a3044","name":"payload","props":[{"p":"payload"},{"p":"mensagem","v":"123","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":90,"y":300,"wires":[["91b3921d.075f7"]]},{"id":"91b3921d.075f7","type":"function","z":"29b29fc6.a3044","name":"","func":"var payload = msg.payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\nvar s1 = [\"<DOCTYPE\", \"{applicationID\",\"<temp\",\"\"];\nvar s1random = s1[Math.floor(Math.random() * s1.length )];\n\nmsg.payload = makeid(payload)+s1random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":440,"wires":[["6820a765.d1b9d8"]]},{"id":"6820a765.d1b9d8","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":540,"wires":[]},{"id":"7b475306.2cedfc","type":"function","z":"29b29fc6.a3044","name":"msg","func":"\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar payload = payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\nvar tamanho = payload.length;\nvar teste = makeid(tamanho);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nreturn teste;","libs":[],"x":470,"y":480,"wires":[["b5ca8fe9.6424a"]]},{"id":"8428132f.1bb5b","type":"inject","z":"29b29fc6.a3044","name":"teste valores aleatórios","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teste","payload":"01234567890123456789","payloadType":"str","x":360,"y":340,"wires":[["eb14314a.a4ead","7b475306.2cedfc"]]},{"id":"b5ca8fe9.6424a","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":540,"wires":[]},{"id":"b09b176e.db4db8","type":"function","z":"29b29fc6.a3044","name":"","func":"\nreturn mensagem;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar mensagem = msg;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\n\nmensagem = makeid(20);","finalize":"","libs":[],"x":540,"y":800,"wires":[[]]},{"id":"e76b3bc4.8dd848","type":"inject","z":"29b29fc6.a3044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teste","payload":"","payloadType":"date","x":400,"y":780,"wires":[[]]},{"id":"eb14314a.a4ead","type":"debug","z":"29b29fc6.a3044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"561a38c3.13e638","type":"function","z":"26dc6396.328cdc","name":"","func":"var payload = msg.payload;\nfunction makeid(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789{}<>/[]+\\'\"!@#$%*()-_+=\\`\\'^~|,.;';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * \n charactersLength));\n   }\n   return result;\n}\nvar s1 = [\"<DOCTYPE\", \"{applicationID\",\"<temp\",\"\"];\nvar s1random = s1[Math.floor(Math.random() * s1.length )];\nmsg.payload = makeid(payload)+s1random;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["d6bb82e3.71d5a"]]},{"id":"1a32a192.78e02e","type":"debug","z":"26dc6396.328cdc","name":"Mensagem JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":340,"wires":[]},{"id":"e5449d46.b3076","type":"json","z":"f0a88548.099cc8","name":"","property":"payload","action":"","pretty":false,"x":210,"y":80,"wires":[["261fbb8d.f7fb04","2c33660c.7c6aea"]]},{"id":"2c33660c.7c6aea","type":"change","z":"f0a88548.099cc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["f1c18bf7.e8e548","89779ebd.ca128"]]},{"id":"261fbb8d.f7fb04","type":"debug","z":"f0a88548.099cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"f1c18bf7.e8e548","type":"debug","z":"f0a88548.099cc8","name":"payload da mensagem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"89779ebd.ca128","type":"template","z":"f0a88548.099cc8","name":"payload UL com |","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"4t|{{payload}}","output":"str","x":610,"y":200,"wires":[["4fafc06e.e422f","a042c2cd.95bc"]]},{"id":"4fafc06e.e422f","type":"debug","z":"f0a88548.099cc8","name":"Mensagem UL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"a042c2cd.95bc","type":"mqtt out","z":"f0a88548.099cc8","name":"","topic":"iotamanager","qos":"0","retain":"false","broker":"553e4f2a.d90218","x":830,"y":160,"wires":[]},{"id":"5c6ebaea.e27ae4","type":"complete","z":"f0a88548.099cc8","name":"","scope":[],"uncaught":false,"x":140,"y":200,"wires":[[]]},{"id":"f19b3e06.0455f","type":"link in","z":"f0a88548.099cc8","name":"","links":[],"x":65,"y":160,"wires":[[]]},{"id":"1b97f7e6.9134d8","type":"link in","z":"5d07fca5.750694","name":"testes","links":[],"x":145,"y":340,"wires":[[]]},{"id":"69ec9c5c.a700a4","type":"function","z":"29b29fc6.a3044","name":"","func":"var payload = msg.payload;\nvar s1 = [\"<DOCTYPE\", \"{applicationID\",\"<temp\"];\nvar s1random = s1[Math.floor(Math.random() * s1.length )];\n\nmsg.payload = s1random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":400,"wires":[["6820a765.d1b9d8"]]},{"id":"76a0d612.60fe08","type":"random","z":"29b29fc6.a3044","name":"","outputs":"2","scope":"msg","x":100,"y":340,"wires":[[],["91b3921d.075f7"]]},{"id":"367b3af1.9e2f46","type":"function","z":"26dc6396.328cdc","name":"","func":"var payload = msg.payload;\nvar s1 = [\"<DOCTYPE\", \"{applicationID\",\"<temp\"];\nvar s1random = s1[Math.floor(Math.random() * s1.length )];\n\nmsg.payload = s1random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":260,"wires":[[]]},{"id":"5d18ae4c.f3698","type":"random","z":"26dc6396.328cdc","name":"","outputs":"2","scope":"msg","x":260,"y":220,"wires":[[],[]]},{"id":"c7f21da3.ba00f","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":290,"y":160,"wires":[["561a38c3.13e638"]]},{"id":"29176476.efcd2c","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":210,"y":20,"wires":[["697cd20a.89363c"]]},{"id":"36ec8705.f8e398","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":230,"y":80,"wires":[["e2f63af2.2738f8"]]},{"id":"f4478ae8.2fd818","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":250,"y":340,"wires":[["de9be081.3a23c"]]},{"id":"e4f1103c.70b93","type":"inject","z":"26dc6396.328cdc","name":"início","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"","payload":"10","payloadType":"num","x":110,"y":400,"wires":[["a1131429.8c0e38"]]}]
